annotated-types==0.7.0
anyio==4.7.0
charset-normalizer==3.4.1
fastapi==0.115.8
future==1.0.0
h11==0.16.0
idna==3.10
pydantic-core==2.27.1
pydantic==2.10.3
PyJWT==2.10.1
python-dotenv==1.0.1
requests-toolbelt==1.0.0
requests==2.32.3
sniffio==1.3.1
starlette==0.41.3
typing-extensions==4.12.2
urllib3==2.2.3
uvicorn==0.34.0
webexteamssdk==1.6.1